
    .grid-calendar{
        background-color: transparent;
        background-image: url("./../images/schedulebackground.jpg");
        background-size: 100% 100%;
        display: grid;
        height:600px;
        grid-template:
        'day1 day2 day3 day4'
        'day5 day6 day7 day8'
        'day9 day10 day11 day12';
        grid-gap: 10px;
        padding: 0 10px;

        @media (max-width: $tabletLandscape){
            height:auto;
            grid-template:
        'day1 day2 day3 '
        'day4 day5 day6'
        'day7 day8 day9'
        'day10 day11 day12';
        grid-template-columns: repeat(3, $three-col );
        grid-template-rows: repeat(4, 130px ); 
        }
        @media (max-width: $phoneLandscape){
            height:auto;
            background-image: url("./../images/schedulebackground2.jpg");
            background-size: 100% 100%;

            background-repeat:repeat-y;
            grid-template:
            'day1 day2  '
            'day3 day4 '
            'day5 day6'
            'day7 day8'
            'day10 day9'
            'day11 day12';
            grid-template-columns: repeat(2, $two-col );
            grid-template-rows: repeat(6, 130px ); 
        }
    }
        .day1 {
            grid-area: day1; 
             @include calendar-cell;
    
            
            
        };
        .day2 {grid-area: day2; 
            @include calendar-cell;

        };
        .day3 {grid-area: day3; 
            @include calendar-cell;

        };
        .day4 {grid-area: day4; 
            @include calendar-cell;

        };
        .day5 {grid-area: day5; 
            @include calendar-cell;

        };
        .day6 {grid-area: day6; 
            @include calendar-cell;

        };
        .day7 {grid-area: day7; 
            @include calendar-cell;

        };
        .day8 {grid-area: day8; 
            @include calendar-cell;

        };
        .day9 {grid-area: day9; 
            @include calendar-cell;

        };
        .day10 {grid-area: day10; 
            @include calendar-cell;

        };
        .day11 {grid-area: day11; 
            @include calendar-cell;

            
        };
        .day12 {grid-area: day12; 
            @include calendar-cell;


        };