
header {
    background-color: #3C4663;
    display: flex;
    flex-direction: column;
    align-items: left;
    width:15%;
    min-width: 15%;
    img{
        border:none;
        box-shadow: none;
    
    }
    h1 {
        font-size: 1.6em;        
        color: $text-color-light;
        text-align: center;
       
        @include margin-center;
        @media (max-width: $tabletLandscape){
            font-size: 1.4em;
        }
        @media (max-width: $phoneLandscape){
            font-size: 1em;
        }
    }
}