@media (max-width: 992px)
{
    .menuToggle
    {
        display: block;
    }
    
    ul
    {
        padding: 0;
        width: 70%;
        top: 20%;
        left: 48%;
        display: block;
        overflow: hidden;
        transition: 0.5s;
        transform: translate(-50%, -50%) scaleY(0);
        transform-origin: top;
        /*z-index: 9000;*/
        
    }
    ul.active 
    {
        transform: translate(-50%, -50%) scaleY(1);
    }
    ul li 
    {
        border-bottom: 1px solid rgba(0,0,0,0.2);
        padding: 10px 0;
        display: flex;
    }/*
    ul li:last-child
    {
        border-bottom: none;
    }*/
    ul li a 
    {
        padding: 0 20px;
    }
    ul li a .icon
    {
        display: inline-block;
        float: left;
        margin: 0 auto;
    }
    ul li a .name
    {
        width: auto /*100%;*/;
        display: inline-block /*block;*/;
        margin: 10px;
    }
}