nav {
    ul
    {
        margin: 0;
        padding: 20px 0;
        background:transparent;
        display: flex;
        flex-direction: column;
        float:left;
        width:100%;

 
    }
    ul li 
    {
        list-style: none;
        text-align: center;
        display: block;
    }
   
    ul li a
    {
        text-decoration: none;
        text-align: center;
        display: block;
    }
    ul li a .icon
    {
        width: 40px;
        height: 40px;
        text-align: center;
        overflow: hidden; /*background:  #ccc; /* color bck icon*/
        margin: 0 auto 10px;
        @media (max-width: $tabletLandscape) {
            width: 30px;
            height: 35px;
        }
        @media (max-width: $phoneLandscape) {
            width: 20px;
            height: 30px;

        }
    }
    ul li a .icon .fa
    {
        width: 100%;
        height: 100%;
        line-height: 40px;
        font-size: 34px;
        transition: 0.5s;
        color: #fff;
        @media (max-width: $tabletLandscape) {
            font-size: 30px;
        }
        @media (max-width: $phoneLandscape) {
            font-size: 20px;
        }
    }
    ul li a .icon .fa:last-child
    {
        color: white;
    }
    ul li a:hover .icon .fa 
    {
        transform: translateY(-100%);
    }
    ul li a .name
    {
        position: relative;
        height: 20px;
        width: auto /*100%;*/;
        display: inline-block /*block;*/;
        overflow: hidden;
    }
    ul li a .name span
    {
        display: block;
        position: relative;
        color: #fff;
        font-size: 18px;
        line-height: 20px;
        transition: 0.5s;
        @media (max-width: $tabletLandscape) {
            font-size: 15px;
        }
        @media (max-width: $phoneLandscape) {
            font-size: 12px;
        }

    }

    ul li a .name span::before
    {
        content: attr(data-text);
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        color:white;
    }
    ul li a:hover .name span
    {
        transform: translateY(20px);
    }
    @media (max-width: $tabletLandscape) {
        display: none;
        position: relative;
        .show & {
            display: block;
        }
        a {
            line-height: 30px; 
        } 
    }
    @media (max-width: $phoneLandscape) {
        display: none;
        position: relative;
        .show & {
            display: block;
        }
        a {
            line-height: 30px;
        }
        
    }
}
