/* CSS Document */
/* Comments in Sass */
/* Multi-line comments work the
   same as in regular CSS. These
   comments will be compiled to 
   the compiled CSS.  */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
}

body {
  font-family: Georgia, Times, Times New Roman, serif;
  line-height: 1.4;
}

h1, h2, h3, nav a, table {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

body {
  background-color: #303030;
}

.wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  display: flex;
}
@media (max-width: 59.125em) {
  .show .wrapper {
    height: 600px;
  }
}
@media (max-width: 43.75em) {
  .show .wrapper {
    height: 500px;
  }
}

header {
  background-color: #eb203b;
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 200px;
}
@media (max-width: 43.75em) {
  header {
    width: 150px;
  }
}
header h1 {
  font-size: 1.6em;
  color: white;
  text-align: center;
}
@media (max-width: 59.125em) {
  header h1 {
    font-size: 1.6em;
  }
}
@media (max-width: 43.75em) {
  header h1 {
    font-size: 1em;
  }
}

.btn-menu {
  display: none;
  padding: 0px 10px 10px 40px;
}
@media (max-width: 59.125em) {
  .btn-menu {
    display: block;
    color: white;
    font-size: 1.6rem;
    padding: 0px 10px 10px 10px;
    width: 80px;
    background-color: #eb203b;
    border: none;
  }
}
@media (max-width: 43.75em) {
  .btn-menu {
    font-size: 1em;
    padding: 10px;
  }
  .show .btn-menu {
    margin: 0 20px 0 25px;
  }
}

nav ul {
  margin: 0;
  padding: 20px 0;
  background: transparent;
  display: flex;
  flex-direction: column;
  float: left;
}
nav ul li {
  list-style: none;
  text-align: center;
  display: block;
}
nav ul li a {
  text-decoration: none;
  padding: 0 50px;
  display: block;
}
@media (max-width: 59.125em) {
  nav ul li a {
    padding: 0 30px;
  }
}
nav ul li a .icon {
  width: 40px;
  height: 40px;
  text-align: center;
  overflow: hidden;
  /*background:  #ccc; /* color bck icon*/
  margin: 0 auto 10px;
}
@media (max-width: 59.125em) {
  nav ul li a .icon {
    width: 30px;
    height: 35px;
  }
}
@media (max-width: 43.75em) {
  nav ul li a .icon {
    width: 20px;
    height: 30px;
  }
}
nav ul li a .icon .fa {
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 34px;
  transition: 0.5s;
  color: #fff;
}
@media (max-width: 59.125em) {
  nav ul li a .icon .fa {
    font-size: 30px;
  }
}
@media (max-width: 43.75em) {
  nav ul li a .icon .fa {
    font-size: 20px;
  }
}
nav ul li a .icon .fa:last-child {
  color: blue;
}
nav ul li a:hover .icon .fa {
  transform: translateY(-100%);
}
nav ul li a .name {
  position: relative;
  height: 20px;
  width: auto;
  display: inline-block;
  overflow: hidden;
}
nav ul li a .name span {
  display: block;
  position: relative;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  transition: 0.5s;
}
@media (max-width: 59.125em) {
  nav ul li a .name span {
    font-size: 15px;
  }
}
@media (max-width: 43.75em) {
  nav ul li a .name span {
    font-size: 12px;
  }
}
nav ul li a .name span::before {
  content: attr(data-text);
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  color: blue;
}
nav ul li a:hover .name span {
  transform: translateY(20px);
}
@media (max-width: 59.125em) {
  nav {
    display: none;
    position: relative;
  }
  .show nav {
    display: block;
  }
  nav a {
    line-height: 30px;
  }
}
@media (max-width: 43.75em) {
  nav {
    display: none;
    position: relative;
  }
  .show nav {
    display: block;
  }
  nav a {
    line-height: 30px;
  }
}

main {
  flex-grow: 1;
}

.banner {
  margin-bottom: 30px;
}
.banner h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 30px;
  font-size: 2em;
}
.banner p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 0;
  font-size: 1.6em;
}

.grid-calendar {
  display: grid;
  height: 450px;
  grid-template: "day1 day2 day3 day4" "day5 day6 day7 day8" "day9 day10 day11 day12";
  grid-gap: 10px;
  padding: 10px;
}

.day1 {
  grid-area: day1;
  border: solid 2px black;
  background-color: pink;
}

.day2 {
  grid-area: day2;
  border: solid 2px black;
  background-color: pink;
}

.day3 {
  grid-area: day3;
  border: solid 2px black;
  background-color: pink;
}

.day4 {
  grid-area: day4;
  border: solid 2px black;
  background-color: pink;
}

.day5 {
  grid-area: day5;
  border: solid 2px black;
  background-color: pink;
}

.day6 {
  grid-area: day6;
  border: solid 2px black;
  background-color: pink;
}

.day7 {
  grid-area: day7;
  border: solid 2px black;
  background-color: pink;
}

.day8 {
  grid-area: day8;
  border: solid 2px black;
  background-color: pink;
}

.day9 {
  grid-area: day9;
  border: solid 2px black;
  background-color: pink;
}

.day10 {
  grid-area: day10;
  border: solid 2px black;
  background-color: pink;
}

.day11 {
  grid-area: day11;
  border: solid 2px black;
  background-color: pink;
}

.day12 {
  grid-area: day12;
  border: solid 2px black;
  background-color: pink;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
footer {
  padding: 30px;
  background-color: black;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
footer p {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: white;
}

/*# sourceMappingURL=styles_amanda.css.map */
