/* CSS Document */
/* Comments in Sass */
/* Multi-line comments work the
   same as in regular CSS. These
   comments will be compiled to 
   the compiled CSS.  */
section .row .one-half {
  width: 49%;
  padding: 30px;
}
section .row .one-half > :first-child {
  margin-top: 0;
}
section .row .one-half > :last-child {
  margin-bottom: 0;
}
@media (max-width: 43.75em) {
  section .row .one-half {
    width: 100%;
    margin-bottom: 8%;
  }
  section .row .one-half:last-child {
    margin-bottom: 0;
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
}

body {
  background-color: #303030;
}

.wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5eddf;
  display: flex;
  height: auto;
}
main {
  flex-grow: 1;
}

header {
  background-color: #3C4663;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 15%;
  min-width: 15%;
}
header img {
  border: none;
  box-shadow: none;
}
header h1 {
  font-size: 1.6em;
  color: #f5ebeb;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 59.125em) {
  header h1 {
    font-size: 1.4em;
  }
}
@media (max-width: 43.75em) {
  header h1 {
    font-size: 1em;
  }
}

.hamburger {
  display: none;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 59.125em) {
  .hamburger {
    display: block;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .hamburger .hamburger-content {
    height: 24px;
  }
  .hamburger .text {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
  }
  .hamburger .bar {
    display: block;
    height: 3px;
    background-color: #f5ebeb;
    width: 100%;
    position: relative;
    top: 10px;
    transition: all 0.3s ease-in-out;
  }
  .show .hamburger .bar {
    background-color: transparent;
  }
  .hamburger .bar:after {
    content: "";
    width: 100%;
    height: 3px;
    top: 10px;
    left: 0;
    background-color: white;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }
  .show .hamburger .bar:after {
    top: 0;
    transform: rotate(45deg);
  }
  .hamburger .bar:before {
    content: "";
    width: 100%;
    height: 3px;
    top: -10px;
    left: 0;
    background-color: white;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }
  .show .hamburger .bar:before {
    top: 0;
    transform: rotate(-45deg);
  }
  .hamburger:focus,
.hamburger .hamburger-content:focus {
    outline: none;
  }
  .hamburger:focus .hamburger-content {
    outline: 5px solid #7683C9;
  }
}

nav {
  margin-block-start: 20px;
  font-family: Georgia, Times, Times New Roman, serif;
}
nav ul {
  margin: 0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  float: left;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 5px 25px 90px rgba(5, 1, 240, 0.979);
}
nav ul li {
  list-style: none;
  text-align: center;
  display: block;
  margin-block-end: 10px;
  height: 90px;
}
nav ul li:last-child {
  border-bottom: none;
}
nav ul li a {
  text-decoration: none;
  text-align: center;
  display: block;
}
nav ul li a .icon {
  width: 40px;
  height: 40px;
  text-align: center;
  overflow: hidden;
  /*background:  #ccc; /* color bck icon*/
  margin: 0 auto 10px;
}
@media (max-width: 59.125em) {
  nav ul li a .icon {
    width: 30px;
    height: 35px;
  }
}
@media (max-width: 43.75em) {
  nav ul li a .icon {
    width: 20px;
    height: 30px;
  }
}
nav ul li a .icon .fa {
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 34px;
  transition: 0.5s;
  color: #000;
}
@media (max-width: 59.125em) {
  nav ul li a .icon .fa {
    font-size: 30px;
  }
}
@media (max-width: 43.75em) {
  nav ul li a .icon .fa {
    font-size: 20px;
  }
}
nav ul li a .icon .fa:last-child {
  color: #e91e63;
}
nav ul li a:hover .icon .fa {
  transform: translateY(-100%);
}
@media (max-width: 59.125em) {
  nav ul li a:hover .icon .fa {
    transform: translateY(-118%);
  }
}
@media (max-width: 43.75em) {
  nav ul li a:hover .icon .fa {
    transform: translateY(-120%);
  }
}
nav ul li a .name {
  position: relative;
  height: 20px;
  width: auto;
  display: inline-block;
  overflow: hidden;
}
nav ul li a .name span {
  display: block;
  position: relative;
  color: #000;
  font-size: 18px;
  line-height: 20px;
  transition: 0.5s;
}
@media (max-width: 59.125em) {
  nav ul li a .name span {
    font-size: 15px;
  }
}
@media (max-width: 43.75em) {
  nav ul li a .name span {
    font-size: 12px;
  }
}
nav ul li a .name span::before {
  content: attr(data-text);
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  color: #e91e63;
}
nav ul li a:hover .name span {
  transform: translateY(20px);
}
@media (max-width: 59.125em) {
  nav {
    display: none;
    position: relative;
  }
  .show nav {
    display: block;
  }
  nav a {
    line-height: 30px;
  }
}
@media (max-width: 43.75em) {
  nav {
    display: none;
    position: relative;
  }
  .show nav {
    display: block;
  }
  nav a {
    line-height: 30px;
  }
}

.banner {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.banner h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 30px;
  font-size: 2em;
}
.banner p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 0;
  font-size: 1.6em;
}
.banner .mySlides {
  display: none;
}

.body-lessons {
  background-color: #303030;
}

#flipbook {
  width: 800px;
  /*800*/
  height: 500px;
  /*500*/
  margin: 0;
  /*border: 2px solid red;*/
}
#flipbook h1 {
  margin-left: auto;
  margin-right: auto;
}

.page {
  /* created by me*/
  width: 100%;
  /*max-width:*/
  height: 100%;
  border-left: 1px solid black;
}

#flipbook .page {
  width: 800px;
  /*800 */
  height: 500px;
  /*500*/
  background-color: white;
  /* white */
  font-size: 15px;
  text-align: left;
}

.page > * {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
}

#flipbook .page-wrapper {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
}

#flipbook .hard {
  background: #403E3E !important;
  color: #fff;
}

.title-lessons {
  font-size: 1.5em;
  color: green;
}

.sub-title-lessons {
  color: red;
  font-size: 1em;
  margin: 5px 0 0 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

section {
  margin-left: 10px;
}
section > :first-child {
  margin-top: 0;
}
section > :last-child {
  margin-bottom: 0;
}
section article {
  margin: 0 20px;
}
section h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  color: #424299;
}
section h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #424299;
}
section p {
  font-family: Georgia, Times, Times New Roman, serif;
}
section .row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 59.125em) {
  section .row {
    flex-wrap: wrap;
  }
}
.grid-calendar {
  background-color: transparent;
  background-image: url("./../images/schedulebackground.jpg");
  background-size: 100% 100%;
  display: grid;
  height: 600px;
  grid-template: "day1 day2 day3 day4" "day5 day6 day7 day8" "day9 day10 day11 day12";
  grid-gap: 10px;
  padding: 0 10px;
}
@media (max-width: 59.125em) {
  .grid-calendar {
    height: auto;
    grid-template: "day1 day2 day3 " "day4 day5 day6" "day7 day8 day9" "day10 day11 day12";
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(4, 130px);
  }
}
@media (max-width: 43.75em) {
  .grid-calendar {
    height: auto;
    background-image: url("./../images/schedulebackground2.jpg");
    background-size: 100% 100%;
    background-repeat: repeat-y;
    grid-template: "day1 day2  " "day3 day4 " "day5 day6" "day7 day8" "day10 day9" "day11 day12";
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: repeat(6, 130px);
  }
}

.day1 {
  grid-area: day1;
  border: solid 1px grey;
  border-radius: 10px;
  box-shadow: 5px -5px 5px #aaaaaa;
  background-color: transparent;
}
.day1 .courseOutline {
  position: relative;
  display: inline-block;
  width: 100%;
}
.day1 .courseOutline p {
  color: #424299;
  background-color: wheat;
  opacity: 0.7;
  font-size: 1.2em;
  margin-block-start: 5px;
}
.day1 .courseOutline .courseContext {
  visibility: hidden;
  width: 100%;
  background-color: transparent;
  color: #424299;
  /* Position the tooltip text - see examples below! */
  position: absolute;
}
.day1 .courseOutline:hover .courseContext {
  visibility: visible;
  background-color: wheat;
  opacity: 0.7;
}

.day2 {
  grid-area: day2;
  border: solid 1px grey;
  border-radius: 10px;
  box-shadow: 5px -5px 5px #aaaaaa;
  background-color: transparent;
}
.day2 .courseOutline {
  position: relative;
  display: inline-block;
  width: 100%;
}
.day2 .courseOutline p {
  color: #424299;
  background-color: wheat;
  opacity: 0.7;
  font-size: 1.2em;
  margin-block-start: 5px;
}
.day2 .courseOutline .courseContext {
  visibility: hidden;
  width: 100%;
  background-color: transparent;
  color: #424299;
  /* Position the tooltip text - see examples below! */
  position: absolute;
}
.day2 .courseOutline:hover .courseContext {
  visibility: visible;
  background-color: wheat;
  opacity: 0.7;
}

.day3 {
  grid-area: day3;
  border: solid 1px grey;
  border-radius: 10px;
  box-shadow: 5px -5px 5px #aaaaaa;
  background-color: transparent;
}
.day3 .courseOutline {
  position: relative;
  display: inline-block;
  width: 100%;
}
.day3 .courseOutline p {
  color: #424299;
  background-color: wheat;
  opacity: 0.7;
  font-size: 1.2em;
  margin-block-start: 5px;
}
.day3 .courseOutline .courseContext {
  visibility: hidden;
  width: 100%;
  background-color: transparent;
  color: #424299;
  /* Position the tooltip text - see examples below! */
  position: absolute;
}
.day3 .courseOutline:hover .courseContext {
  visibility: visible;
  background-color: wheat;
  opacity: 0.7;
}

.day4 {
  grid-area: day4;
  border: solid 1px grey;
  border-radius: 10px;
  box-shadow: 5px -5px 5px #aaaaaa;
  background-color: transparent;
}
.day4 .courseOutline {
  position: relative;
  display: inline-block;
  width: 100%;
}
.day4 .courseOutline p {
  color: #424299;
  background-color: wheat;
  opacity: 0.7;
  font-size: 1.2em;
  margin-block-start: 5px;
}
.day4 .courseOutline .courseContext {
  visibility: hidden;
  width: 100%;
  background-color: transparent;
  color: #424299;
  /* Position the tooltip text - see examples below! */
  position: absolute;
}
.day4 .courseOutline:hover .courseContext {
  visibility: visible;
  background-color: wheat;
  opacity: 0.7;
}

.day5 {
  grid-area: day5;
  border: solid 1px grey;
  border-radius: 10px;
  box-shadow: 5px -5px 5px #aaaaaa;
  background-color: transparent;
}
.day5 .courseOutline {
  position: relative;
  display: inline-block;
  width: 100%;
}
.day5 .courseOutline p {
  color: #424299;
  background-color: wheat;
  opacity: 0.7;
  font-size: 1.2em;
  margin-block-start: 5px;
}
.day5 .courseOutline .courseContext {
  visibility: hidden;
  width: 100%;
  background-color: transparent;
  color: #424299;
  /* Position the tooltip text - see examples below! */
  position: absolute;
}
.day5 .courseOutline:hover .courseContext {
  visibility: visible;
  background-color: wheat;
  opacity: 0.7;
}

.day6 {
  grid-area: day6;
  border: solid 1px grey;
  border-radius: 10px;
  box-shadow: 5px -5px 5px #aaaaaa;
  background-color: transparent;
}
.day6 .courseOutline {
  position: relative;
  display: inline-block;
  width: 100%;
}
.day6 .courseOutline p {
  color: #424299;
  background-color: wheat;
  opacity: 0.7;
  font-size: 1.2em;
  margin-block-start: 5px;
}
.day6 .courseOutline .courseContext {
  visibility: hidden;
  width: 100%;
  background-color: transparent;
  color: #424299;
  /* Position the tooltip text - see examples below! */
  position: absolute;
}
.day6 .courseOutline:hover .courseContext {
  visibility: visible;
  background-color: wheat;
  opacity: 0.7;
}

.day7 {
  grid-area: day7;
  border: solid 1px grey;
  border-radius: 10px;
  box-shadow: 5px -5px 5px #aaaaaa;
  background-color: transparent;
}
.day7 .courseOutline {
  position: relative;
  display: inline-block;
  width: 100%;
}
.day7 .courseOutline p {
  color: #424299;
  background-color: wheat;
  opacity: 0.7;
  font-size: 1.2em;
  margin-block-start: 5px;
}
.day7 .courseOutline .courseContext {
  visibility: hidden;
  width: 100%;
  background-color: transparent;
  color: #424299;
  /* Position the tooltip text - see examples below! */
  position: absolute;
}
.day7 .courseOutline:hover .courseContext {
  visibility: visible;
  background-color: wheat;
  opacity: 0.7;
}

.day8 {
  grid-area: day8;
  border: solid 1px grey;
  border-radius: 10px;
  box-shadow: 5px -5px 5px #aaaaaa;
  background-color: transparent;
}
.day8 .courseOutline {
  position: relative;
  display: inline-block;
  width: 100%;
}
.day8 .courseOutline p {
  color: #424299;
  background-color: wheat;
  opacity: 0.7;
  font-size: 1.2em;
  margin-block-start: 5px;
}
.day8 .courseOutline .courseContext {
  visibility: hidden;
  width: 100%;
  background-color: transparent;
  color: #424299;
  /* Position the tooltip text - see examples below! */
  position: absolute;
}
.day8 .courseOutline:hover .courseContext {
  visibility: visible;
  background-color: wheat;
  opacity: 0.7;
}

.day9 {
  grid-area: day9;
  border: solid 1px grey;
  border-radius: 10px;
  box-shadow: 5px -5px 5px #aaaaaa;
  background-color: transparent;
}
.day9 .courseOutline {
  position: relative;
  display: inline-block;
  width: 100%;
}
.day9 .courseOutline p {
  color: #424299;
  background-color: wheat;
  opacity: 0.7;
  font-size: 1.2em;
  margin-block-start: 5px;
}
.day9 .courseOutline .courseContext {
  visibility: hidden;
  width: 100%;
  background-color: transparent;
  color: #424299;
  /* Position the tooltip text - see examples below! */
  position: absolute;
}
.day9 .courseOutline:hover .courseContext {
  visibility: visible;
  background-color: wheat;
  opacity: 0.7;
}

.day10 {
  grid-area: day10;
  border: solid 1px grey;
  border-radius: 10px;
  box-shadow: 5px -5px 5px #aaaaaa;
  background-color: transparent;
}
.day10 .courseOutline {
  position: relative;
  display: inline-block;
  width: 100%;
}
.day10 .courseOutline p {
  color: #424299;
  background-color: wheat;
  opacity: 0.7;
  font-size: 1.2em;
  margin-block-start: 5px;
}
.day10 .courseOutline .courseContext {
  visibility: hidden;
  width: 100%;
  background-color: transparent;
  color: #424299;
  /* Position the tooltip text - see examples below! */
  position: absolute;
}
.day10 .courseOutline:hover .courseContext {
  visibility: visible;
  background-color: wheat;
  opacity: 0.7;
}

.day11 {
  grid-area: day11;
  border: solid 1px grey;
  border-radius: 10px;
  box-shadow: 5px -5px 5px #aaaaaa;
  background-color: transparent;
}
.day11 .courseOutline {
  position: relative;
  display: inline-block;
  width: 100%;
}
.day11 .courseOutline p {
  color: #424299;
  background-color: wheat;
  opacity: 0.7;
  font-size: 1.2em;
  margin-block-start: 5px;
}
.day11 .courseOutline .courseContext {
  visibility: hidden;
  width: 100%;
  background-color: transparent;
  color: #424299;
  /* Position the tooltip text - see examples below! */
  position: absolute;
}
.day11 .courseOutline:hover .courseContext {
  visibility: visible;
  background-color: wheat;
  opacity: 0.7;
}

.day12 {
  grid-area: day12;
  border: solid 1px grey;
  border-radius: 10px;
  box-shadow: 5px -5px 5px #aaaaaa;
  background-color: transparent;
}
.day12 .courseOutline {
  position: relative;
  display: inline-block;
  width: 100%;
}
.day12 .courseOutline p {
  color: #424299;
  background-color: wheat;
  opacity: 0.7;
  font-size: 1.2em;
  margin-block-start: 5px;
}
.day12 .courseOutline .courseContext {
  visibility: hidden;
  width: 100%;
  background-color: transparent;
  color: #424299;
  /* Position the tooltip text - see examples below! */
  position: absolute;
}
.day12 .courseOutline:hover .courseContext {
  visibility: visible;
  background-color: wheat;
  opacity: 0.7;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
footer {
  padding: 30px;
  background-color: black;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
footer p {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: white;
}

/*# sourceMappingURL=styles_amanda.css.map */
